html{
  font-size: 1em;
}

body{
  background-color: white;
  font-family: 'Lato', sans-serif;
}




/*MAIN CONTENT WRAPPER*/
.wrapper{
  width: 800px;
  margin: 20px auto;
  padding: 10px;
  position: relative;
}



/*DATE & TIME*/
.left{
  position: relative;
}

.date{
  width: 150px;
  font-size: 0.8em;
  color: #bdd0db;
  position: absolute;
  text-align: right;
}

p.one{
  margin: 0 0 0 0;
}
p.two{
  margin: 380px 0 0 0;
}
p.three{
  margin: 255px 0 0 0;
}
p.four{
  margin: 413px 0 0 0;
}
p.five{
  margin: 295px 0 0 0;
}
p.six{
  margin: 275px 0 0 0;
}
p.seven{
  margin: 255px 0 0 0;
}



                  /*  TRIED FIRST.space{
                      margin: 2% 0 40% 0;
                      }*/

.timestamp{
  font-size: 46px;
  width: 150px;
  position: absolute;
  text-align: right;
  border-right: solid #afdcf8;
  padding-right: 6%;
  border-width: 10px;
}

.timestamp > .odd {
  color: #6cbfee;
}

.timestamp > .even {
  color: #3594cb;
}

p#one.odd {
  line-height: 1em;
  padding-top: 9%;
}
p#two.even {
  line-height: 1em;
  padding-top: 350px;
}
p#three.odd {
  line-height: 1em;
  padding-top: 220px;
}
p#four.even {
  line-height: 1em;
  padding-top: 380px;
}
p#five.odd {
  line-height: 1em;
  padding-top: 260px;
}
p#six.even {
  line-height: 1em;
  padding-top: 243px;
}
p#seven.odd {
  line-height: 1em;
  padding: 220px 0 332px 0;
  border-radius: 50%;
}



/*ICONS*/

.icons{
  max-width: 100%;
  padding: 6.5%;
  color: white;
  background-color: #46a4da;
  border: solid #afdcf8;
  border-width: thick;
  border-radius: 100px;
  display: inline-block;
  position: absolute;
  margin: -20px 0 0 31px;
}




/*MAIN CONTENT*/
.contentoutline{
  color: white;
  position: absolute;
  padding-left: 30%;

}

.contentoutline h2{
  font-size: 28px;
}

.contentoutline p{
  font-size: 20px;
  font-weight: 300;
}

.odd_textbox{
  background-color: #6cbfee;
  padding: 2.2em;
  border-radius: 5px;
  margin: 0 1em 2em 1em;
}

.even_textbox{
  background-color: #3594cb;
  padding: 2.2em;
  border-radius: 5px;
  margin: 0 1em 2em 1em;
}

hr{
  border: 0;
  border-bottom: 1px solid white;
  opacity: .4;
}







/*TIMELINE*/
/*.timeline{
  width: 10px;
  height: 50px;
  background-color: #6cbfee;
}*/
