html{
  font-size: 1em;
}

body{
  background-color: white;
  font-family: 'Lato', sans-serif;
}




/*MAIN CONTENT WRAPPER*/
.wrapper{
  width: 600px;
  margin: 20px auto;
  padding: 10px;
  position: relative;
}


/*DATE*/
.date{
  width: 150px;
  margin: 2px;
  font-size: 0.8em;
  color: #bdd0db;
  display: inline-block;
}

.timestamp{
  font-size: 46px;
  width: 150px;
  margin: 1px;
  display: inline-block;
}

.timestamp .odd {
  color: #6cbfee;
}

.timestamp .even {
  color: #3594cb;
}


/*MAIN CONTENT*/
.contentoutline{
  width: 400px;
  display: inline-block;
}

.contentoutline h2{
  color: white;
  font-size: 28px;
}

.contentoutline p{
  font-size: 20px;
  font-weight: 300;
  color: white;
}

.odd_textbox{
  background-color: #6cbfee;
  padding: 2.2em;
  border-radius: 5px;
  margin: 2em;
}

.even_textbox{
  background-color: #3594cb;
  padding: 2.2em;
  border-radius: 5px;
  margin: 2em;
}

hr{
  border: 0;
  border-bottom: 1px solid white;
  opacity: .4;
}

.icons{
  width: 10px;
  margin: 10px;
  font-size: 0.8em;
  color: #bdd0db;
  display: inline-block;
}

/*TIMELINE*/
/*.timeline{
  width: 10px;
  height: 50px;
  background-color: #6cbfee;
}*/
